@charset "UTF-8";

* {padding:0; margin:0;}

a {text-decoration:none; color:#000;}
ul{list-style: none;color:#000;}
ul li{list-style-type: none;color:#000; text-align:center;padding: 5px 0;}
nav { background-color:aqua;overflow: hidden;position:fixed;top:0; width:100%;}


nav > ul > li {float:left;}
nav > ul > li > a {height:40px;line-height:40px; padding:0 40px;}



section {width:100%;padding:10px;padding-top:60px;}
section > div {width:100%;}

table.addTable {width:600px; margin:0 auto;}
section > div > table {width:800px; margin:0 auto;}


td{padding:5px 5px;}
.a_button{cursor:hand; border:1px solid #000; border-radius: 3px;padding:2px 5px;}